
@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}
.heroBanner {
  padding: 5rem 0;
  text-align: center;
}

.heroTitle {
  font-size: 3rem;
  font-weight: 700;
}

.heroSubtitle {
  font-size: 1.25rem;
  max-width: 700px;
  margin: 1rem auto 2rem;
  opacity: 0.9;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

